
  #ATG-Banner{
    width: 85%;
    height: 5%;
  }

  .hashtags{
    text-align: center;
    margin-top: 9px;
    color: white;
  }
  .hashtag{
    font-size: 18px;
    margin: 2px auto;
  }

  .fa{
    color: white;
    margin: auto 10px;
  }
  .builder{
    margin-top: 11px;
    color: white;
    text-align: center;
  }
  .company{
    font-size: 12px;
  }
  .brand{
    font-size: 34px;
  }

/* Basic Effects in Sidebar */
  .fuschia:hover{
    color: rgb(234,7,140);
  }
  .gold:hover{
    color: gold;
  }
  .green:hover{
    color: rgb(3,170,88);
  }
  .blue:hover{
    color: rgb(4,171,235);
  }
  .twitter:hover{
    color: rgb(74,179,244);
  }
  .soundcloud:hover{
    color: rgb(255,85,0);
  }
  .instagram:hover{
    color: rgb(157,59,170);
  }
  .youtube:hover{
    color: rgb(255,0,0);
  }
  p.nav-link:hover{
    text-decoration: underline;
  }

  .nav-link.nav-item{
    font-size: 24px;
  }

  /* Font Family for navlinks */
  .QCS{
    font-family: 'Quattrocento Sans', sans-serif;
  }

/* Building Homepage Content */

  .content{
    background-color: black;
    height: 100%;
    width: 100%;
    float: right;
    color: white;
  }
  html.fa-events-icons-ready{
    background-color: black;
  }

  nav{
    width: 100%;
    float: right;
  }

  #homePageHeader{
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
  #homePageHeaderText{
    font-size: 28px;
  }

  #homepageBuy{
    margin: auto 200px;
  }

  img.img-fluid{
    height: 275px;
  }

  a.btn{
    margin: 10px auto;
  }

  #videoHeader{
    text-align: center;
    margin-top: 50px;
  }

  #videoHeaderText{
    font-size: 28px;
    color: white;
    text-decoration: underline;
  }

  #videos{
    margin: 15px auto 50px auto;
  }

  .carousel-inner img{
    margin: 10px auto;
    width: 100%;
    height: 100%;
  }

  #carousel1{
    width: 80%;
  }

  #carousel2{
    width: 80%;
  }

  #carousel3{
    width: 80%;
  }

  #preOrderBTN{
    width: 75%;
    height: 5%;
    font-size: 16px;
  }

  #carouselWrapper{
    width: 90%;
    margin: 10px auto 60px auto;
  }

  #soundcloud-title{
    text-align: center;
    font-size: 28px;
    color: white;
    font-style: bold;
    text-decoration: underline;
  }

  #soundcloud{
    margin: 30px 50px;
  }

  #photoRowA{
    width: 100%;
    margin: 20px auto;
  }

  #photoRowB{
    width: 100%;
    margin: 20px auto;
  }

  #photoRowC{
    width: 100%;
    margin: 20px auto;
  }

  #PhotoGalTitleText{
    font-size: 28px;
    color: white;
    font-style: bold;
    text-align: center;
    margin: 20px auto;
    text-decoration: underline;
  }

  .images{
    width: 100%;
    height: 100%;
    margin: 5px auto;
  }

  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: .5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.small{
  width: 66%;
}

#footer{
  width: 100%;
  background-color: rgb(52,58,64);
}

#thanksHeader{
  margin-top: 20px;
  margin-bottom: 400px;
}

label{
  font-size: 16px;
  margin-left: 5px;
  margin-top: 5px;
}

#traditionalTitle, #ATGTitle, #albumTitle, #springTitle, .forSaleTitle{
  font-size: 26px;
}

.releases{
  width: 300px;
  height: 300px;
  margin: 10px 10px 30px 10px;
}

.releasesLong{
  width: 300px;
  height: 400px;
  margin: 10px 10px 30px 10px;
}

.forSaleItems{
  margin: 30px auto;
}

#forSale{
  margin-bottom: 70px;
}

#fall1, #fall2, #fall3{
  margin: 20px 40px;
  height: 500px;
  width: 300px;
}

#merch1, #merch2, #merch3{
  height: 400px;
  width: 300px;
  margin: 20px 40px;
}

.merchTitle{
  font-size: 20px;
}


#footone{
  margin: 10px 50px;
  color: white;
}

#foottwo{
  margin: 10px auto;
  color: white;
}

#footthree{
  margin: 10px 50px;
  color: white;
}

li a{
  color: white;
}

li{
  list-style: none;
  font-size:12px;
  text-align: center;

}

iframe{
  margin-bottom: 20px;
}

#submitButton{
  width: 300px;
  margin-top: 15px;
}

.preorderHeader, .merchOrderTitle{
  text-align: center;
  width: 95%;
  text-decoration: underline;
  margin-top: 20px;
}

#paymentMethods{
  font-size: 11px;
  color: gold;
}

#sizes{
  font-size: 11px;
  color: gold;
}

#colors{
  font-size: 11px;
  color: gold;
}

#orderRowOne, #orderRowTwo, #orderRowThree, #orderRowFour, #orderRowFive, #merchOrderRowOne,
#merchOrderRowTwo,  #merchOrderRowThree,  #merchOrderRowFour,  #merchOrderRowFive, #merchOrderRowSix{
  margin: 20px auto;
}

#atgpatch, #atglighter{
  color: white;
}

#merchOrderRowFive{
  margin-left: 40px;
}


span{
  color: white;
}

.bg-black{
  background-color: black;
}
